/* .Brand {
    font-size: 200px;
    font-weight: bold;
} */
.navbar,
.navbar-default {
    /* background-color: #DDD0C8 !important; */
    /* background-color: #3A98B9 !important; */
        background-color: rgba(58, 152, 185, 0.7) !important;
}
/* .navbar-header {
    background-color: #F16E10;
} */
/* .nav{
    background-color: #9BABB8;
} */